<app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()" #adminForm="ngForm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Attribute</th>
        <th style="padding-left: 13%;">Enter Details</th>
      </tr>
    </thead>
    <tbody *ngIf="admin | async as admin">
      <tr>
        <td>⦾</td>
        <td>Admin Name</td>
        <td><input type="text" [(ngModel)]="admin.adminName" name="adminName" required id="adminName" #adminName="ngModel"></td>
      </tr>
      <tr>
        <td>⦾</td>
        <td>Admin Email</td>
        <td><input type="email" [(ngModel)]="admin.adminEmail" name="adminEmail" required id="adminEmail" #adminEmail="ngModel"></td>
      </tr>
      <tr>
        <td>⦾</td>
        <td>Phone Number</td>
        <td><input type="text" [(ngModel)]="admin.adminContactNumber" name="adminContactNumber" required id="adminContactNumber" #adminContactNumber="ngModel"></td>
      </tr>
      <tr>
        <td>⦾</td>
        <td>Total Investment</td>
        <td><input type="number" [(ngModel)]="admin.adminInverstment" name="adminInvestment" required id="adminInvestment" #adminInvestment="ngModel"></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary" [disabled]="adminForm.invalid">Save Details</button>
  <br>
  <a class="btn btn-primary" routerLink="/admin">Go Back</a>
</form>
