<app-navbar></app-navbar>

<form class="d-flex" >
    <input class="form-control me-2" type="search" placeholder="Search" (input)="onSearch($event)" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm">
  </form>

  <div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <td scope="col">ID</td>
                <td scope="col">Name</td>
                <td scope="col">Phone</td>
                <td scope="col">Email</td>
                <td scope="col">Address</td>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let y of filteredCustomers">
                <td>⦾</td>
                <td>{{y.customerId}}</td>
                <td>{{y.customerName}}</td>
                <td>{{y.customerPhoneNumber}}</td>
                <td>{{y.customerEmail}}</td>
                <td>{{y.customerAddress}}</td>
            </tr>
            
        </tbody>
    </table>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/customer">Go Back</a>
</div>