<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 70%">
        <img src="/img/User/default.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Admin Details</h5>
        </div>
        <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/adminDetail">Click here</a>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 70%">
        <img src="/img/User/default.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Update Admin</h5>
        </div>
        <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/updateAdminDetail">Click here</a>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Home</a>
</div>