<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Add Retailer</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/addRetailer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Search Retailer</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/searchRetailer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Retailer</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/getAllRetailer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Update Retailer</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/updateRetailer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Delete Retailer</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/deleteRetailer">Click here</a>
          </div>
      </div>
    </div>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Home</a>
  </div>