<div class="welcome-container">
    <div class="welcome-content">
        <h1>Welcome!</h1>
        <p>We're excited to have you here.</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 95%">
          <img src="/img/User/default.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Admin login</h5>
          </div>
          <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="admin">Click here</a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 95%">
          <img src="/img/User/default.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Employee Login</h5>
          </div>
          <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="employeeDetails">Click here</a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 95%">
          <img src="/img/User/default.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Customer Login</h5>
          </div>
          <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="customerDetails">Click here</a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 95%">
          <img src="/img/User/default.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Reatiler Login</h5>
          </div>
          <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Click here</a>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Home</a>
  </div>    