<app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <td scope="col">Attribute</td>
                <td style="padding-left: 13%;">Enter Details</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>⦾</td>
                <td>Customer Name</td>
                <td><input type="text" name="name" [(ngModel)]="customer.customerName" required id="name"></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Phone Number</td>
                <td><input type="text" name="phone" [(ngModel)]="customer.customerPhoneNumber" required id="phone"></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Email </td>
                <td><input type="text" name="email" [(ngModel)]="customer.customerEmail" required id="email"></td>
            </tr>
            
            <tr>
                <td>⦾</td>
                <td>Address</td>
                <td><input type="text" name="address" [(ngModel)]="customer.customerAddress" required id="address"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 18px;">Save Details</button>
    <br>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/customer">Go Back</a>
</form>