<app-navbar></app-navbar>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <td scope="col">Attribute</td>
                <td style="padding-left: 13%;">Enter Details</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>⦾</td>
                <td>Retailer ID</td>
                <td><input id="retailerId" type="text" formControlName="retailerId" readonly></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Retailer Name</td>
                <td><input id="retailerName" type="text" formControlName="retailerName"></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Phone Number</td>
                <td><input id="retailerContactNumber" type="text" formControlName="retailerContactNumber"></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Email</td>
                <td><input id="retailerEmail" type="email" formControlName="retailerEmail"></td>
            </tr>
            <tr>
                <td>⦾</td>
                <td>Additional Details</td>
                <td><input id="retailerAdditionalDetails" type="text" formControlName="retailerAdditionalDetails"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 18px;">Save Details</button>
    <br>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/updateCustomer">Go Back</a>
</form>