<div class="footer" class=" navbar-light" style="background: #c0c0c068">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3 style="text-align: left; margin-left:5%;">Revenue Generator<sup>&#169;</sup></h3>
            </a>
        </div>
        <div style="text-align: left; margin-left: 70%;">
            <h4>Contact Details</h4>
            <p><b>Phone:</b> +91 9766695894</p>
            <p><b>Email:</b> revenuegenerator&#64;gmail.com</p>
            <p><b>Address:</b> 1234, Main Street, City, State, Country</p>
        </div>

        <hr>

        <div>
            <h5 style="margin-left: 10%;">&#169; Revenue Generator, 2024</h5>
            <div class="logo">
                <a href="https://www.facebook.com/people/Rajat-Ruikar/pfbid02VeZWgjSCoKKzEfjBWDfoXjeTSUyvtDdKnmYTmUQyLMo6FQLAxuAJwqBtLTB18EaJl/"><img src="/img/logo/i1.png" alt="facebook" width="50px" ></a>
                <a href="https://www.instagram.com/mr_rajat_xr/"><img src="/img/logo/i2.png" alt="Instagram" width="50px" ></a>
                <a href="https://www.linkedin.com/in/rajat-ruikar-9a3043181/"><img src="/img/logo/i3.png" alt="LinkedIn" width="50px" ></a>
                <a href="https://www.youtube.com/@asdcorp.1175"><img src="/img/logo/i4.png" alt="YouTube" width="50px" ></a>
                <a href="https://linktr.ee/rajatruikar"><img src="/img/logo/i5.png" alt="Tree" width="50px"></a>
            </div>
        </div>
    </nav>
    <br>
</div>