<app-navbar></app-navbar>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <td scope="col">ID</td>
                <td scope="col">Name</td>
                <td scope="col">Phone</td>
                <td scope="col">Email</td>
                <td scope="col">Additional Details</td>
                <td scope="col">Delete</td>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let y of retailer | async;">
                <td>⦾</td>
                <td>{{y.retailerId}}</td>
                <td>{{y.retailerName}}</td>
                <td>{{y.retailerContactNumber}}</td>
                <td>{{y.retailerEmail}}</td>
                <td>{{y.retailerAdditionalDetails}}</td>
                <td><button type="button" class="btn btn-danger" (click)="onDelete(y.retailerId)"><b>Delete</b></button></td>
            </tr>
            
        </tbody>
    </table>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/customer">Go Back</a>
</div>