/* img {

    
    display: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 20px; 
  left: 20px;
    position: fixed;
    object-fit: cover;
    z-index: 1000;
  } */


h1{
  background-image: url('/img/img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px;
}