<app-navbaremployee></app-navbaremployee>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Add Product</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/addCustomer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Search Product</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/searchCustomer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Product</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/getAllCustomer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Update Product</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/updateCustomer">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Delete Product</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;" routerLink="/deleteCustomer">Click here</a>
          </div>
      </div>
    </div>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Home</a>
  </div>