<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Add Employee</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/addEmployee">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Search Employee</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/searchEmployee">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Employee</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/getAllEmployee">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Update Employee</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/updateEmployee">Click here</a>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%">
            <img src="/img/User/default.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Delete Employee</h5>
            </div>
            <a href="#" class="btn btn-primary" style="margin-bottom: 18px;"routerLink="/deleteEmployee">Click here</a>
          </div>
      </div>
    </div>
    <a class="btn btn-primary" style="margin-bottom: 18px;" routerLink="">Home</a>
  </div>